{deps, [
    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git"}},
    {csv, ".*", {git, "git://github.com/isakkarlsson/erlang-csv.git"}},
    {strftimerl, ".*", {git, "git://github.com/kennystone/strftimerl.git"}}
]}.
{escript_incl_apps, [getopt, strftimerl, csv]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.