{'modules', [
	     {"experiment", experiment, "run experiments"},
	     {"rf", rf, "generate random forest"},
	     {"rex", rex, "extract rules from forests"},
	     {"help", rr_help, "show help"},
	     
	     {"cv", cross_validation, undefined},
	     {"split", split_validation, undefined}
	     
	    ]}.
{'rf.config.variance', 10}.


{'log.level', debug}.
{'log.target', std_err}.

{'output.cv.folds', true}.
{'output.csv.header', false}.

