{'modules', [
	     {"experiment", experiment, "run experiments"},
	     {"rf", rf, "generate random forest"},
	     {"help", rr_help, "show help"},
	     {"cv", cross_validation, undefined},
	     {"split", split_validation, undefined}
	     
	    ]}.
{'rf.config.variance', 1}.


{'log.level', debug}.
{'log.target', std_err}.

{'output.cv.folds', true}.
{'output.csv.header', false}.

{'csv.headers', [{"fold", fold},
	         {"accuracy", accuracy}, 
		 {"auc", auc}, 
		 {"oob-base-accuracy", oob_base_accuracy},
		 {"base-accuracy", base_accuracy},
	         {"strength", strength}, 
		 {"variance", variance}, 
		 {"correlation", correlation},
		 {"c/s^2", c_s2}, 
		 {"brier", brier}]}.

{'default.headers', [{"fold", fold},
		     {"accuracy", accuracy}, 
		     {"auc", auc}, 
		     {"oob-base-accuracy", oob_base_accuracy},
		     {"base-accuracy", base_accuracy},
		     {"strength", strength}, 
		     {"variance", variance}, 
		     {"correlation", correlation},
		     {"c/s^2", c_s2}, 
		     {"precision", precision},
		     {"brier", brier}]}.


